In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("/home/aditya/Downloads/train.csv")

In [2]:
print(type(df[['Sex']]))
print(type(df.Sex))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [3]:
df.iloc[2]

PassengerId                         3
Survived                            1
Pclass                              3
Name           Heikkinen, Miss. Laina
Sex                            female
Age                                26
SibSp                               0
Parch                               0
Ticket               STON/O2. 3101282
Fare                            7.925
Cabin                             NaN
Embarked                            S
Name: 2, dtype: object

In [4]:
(df.Sex.iloc[[2]])

2    female
Name: Sex, dtype: object

In [5]:
df['Survived']==1

0      False
1       True
2       True
3       True
4      False
5      False
6      False
7      False
8       True
9       True
10      True
11      True
12     False
13     False
14     False
15      True
16     False
17      True
18     False
19      True
20     False
21      True
22      True
23      True
24     False
25      True
26     False
27     False
28      True
29     False
       ...
861    False
862     True
863    False
864    False
865     True
866     True
867    False
868    False
869     True
870    False
871     True
872    False
873    False
874     True
875     True
876    False
877    False
878    False
879     True
880     True
881    False
882    False
883    False
884    False
885    False
886    False
887     True
888    False
889     True
890    False
Name: Survived, Length: 891, dtype: bool

In [6]:
print( len(  df[pd.isna(df['Cabin'])] )  )
gh= df[pd.isna(df['Cabin'])]
gh=gh[gh.Survived==0 ]
len(gh)

687

481

In [7]:
gh= df[     (df.Survived==0 ) & (pd.isna(df.Cabin)) ] 
len(gh)

481

In [8]:
df['Cabin']=df['Cabin'].fillna(0)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                                     Moran, Mr. James    male   NaN      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
17                        Williams, Mr. Charles Eugene    male   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
19                             Masselmani, Mrs. Fatima  female   NaN      0
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
26                             Emir, Mr. Farred Chehab    male   NaN      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"  female   NaN      0
29                                 Todoroff, Mr. Lalio    male   NaN      0
..                                                 ...     ...   ...    ...
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
868                        van Melkebeke, Mr. Philemon    male   NaN      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
878                                 Laleff, Mr. Kristo    male   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500            0        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250            0        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500            0        S
5        0            330877    8.4583            0        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750            0        S
8        2            347742   11.1333            0        S
9        0            237736   30.0708            0        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500            0        S
13       5            347082   31.2750            0        S
14       0            350406    7.8542            0        S
15       0            248706   16.0000            0        S
16       1            382652   29.1250            0        Q
17       0            244373   13.0000            0        S
18       0            345763   18.0000            0        S
19       0              2649    7.2250            0        C
20       0            239865   26.0000            0        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292            0        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750            0        S
25       5            347077   31.3875            0        S
26       0              2631    7.2250            0        C
27       2             19950  263.0000  C23 C25 C27        S
28       0            330959    7.8792            0        Q
29       0            349216    7.8958            0        S
..     ...               ...       ...          ...      ...
861      0             28134   11.5000            0        S
862      0             17466   25.9292          D17        S
863      2          CA. 2343   69.5500            0        S
864      0            233866   13.0000            0        S
865      0            236852   13.0000            0        S
866      0     SC/PARIS 2149   13.8583            0        C
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000            0        S
869      1            347742   11.1333            0        S
870      0            349248    7.8958            0        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000            0        S
874      0         P/PP 3381   24.0000            0        C
875      0              2667    7.2250            0        C
876      0              7534    9.8458            0        S
877      0            349212    7.8958            0        S
878      0            349217    7.8958            0        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000            0        S
881      0            349257    7.8958            0        S
882      0              7552   10.5167            0        S
883      0  C.A./SOTON 34068   10.5000            0        S
884      0   SOTON/OQ 392076    7.0500            0        S
885      5            382652   29.1250            0        Q
886      0            211536   13.0000            0        S
887      0            112053   30.0000          B42        S
888      2        W./C. 6607   23.4500            0        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500            0        Q

[891 rows x 12 columns]

In [9]:
def change(exp):#cabinf
    if type(exp)== str:
        return 1
    else:
        return 0
df['Cabin'] = df['Cabin'].apply(change)

In [10]:
def genint(exp):#genf
    if exp=='male':
        return 0
    else:
        return 1
df['Sex']=   df['Sex'].apply(genint)

In [11]:
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    0  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1
2                               Heikkinen, Miss. Laina    1  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1
4                             Allen, Mr. William Henry    0  35.0      0
5                                     Moran, Mr. James    0   NaN      0
6                              McCarthy, Mr. Timothy J    0  54.0      0
7                       Palsson, Master. Gosta Leonard    0   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    1  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)    1  14.0      1
10                     Sandstrom, Miss. Marguerite Rut    1   4.0      1
11                            Bonnell, Miss. Elizabeth    1  58.0      0
12                      Saundercock, Mr. William Henry    0  20.0      0
13                         Andersson, Mr. Anders Johan    0  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina    1  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)     1  55.0      0
16                                Rice, Master. Eugene    0   2.0      4
17                        Williams, Mr. Charles Eugene    0   NaN      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...    1  31.0      1
19                             Masselmani, Mrs. Fatima    1   NaN      0
20                                Fynney, Mr. Joseph J    0  35.0      0
21                               Beesley, Mr. Lawrence    0  34.0      0
22                         McGowan, Miss. Anna "Annie"    1  15.0      0
23                        Sloper, Mr. William Thompson    0  28.0      0
24                       Palsson, Miss. Torborg Danira    1   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...    1  38.0      1
26                             Emir, Mr. Farred Chehab    0   NaN      0
27                      Fortune, Mr. Charles Alexander    0  19.0      3
28                       O'Dwyer, Miss. Ellen "Nellie"    1   NaN      0
29                                 Todoroff, Mr. Lalio    0   NaN      0
..                                                 ...  ...   ...    ...
861                        Giles, Mr. Frederick Edward    0  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...    1  48.0      0
863                  Sage, Miss. Dorothy Edith "Dolly"    1   NaN      8
864                             Gill, Mr. John William    0  24.0      0
865                           Bystrom, Mrs. (Karolina)    1  42.0      0
866                       Duran y More, Miss. Asuncion    1  27.0      1
867               Roebling, Mr. Washington Augustus II    0  31.0      0
868                        van Melkebeke, Mr. Philemon    0   NaN      0
869                    Johnson, Master. Harold Theodor    0   4.0      1
870                                  Balkic, Mr. Cerin    0  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)    1  47.0      1
872                           Carlsson, Mr. Frans Olof    0  33.0      0
873                        Vander Cruyssen, Mr. Victor    0  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)    1  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"    1  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    0  20.0      0
877                               Petroff, Mr. Nedelio    0  19.0      0
878                                 Laleff, Mr. Kristo    0   NaN      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)    1  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)    1  25.0      0
881                                 Markun, Mr. Johann    0  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika    1  22.0      0
883                      Banfield, Mr. Frederick James    0  28.0      0
884                             Sutehall, Mr. Henry Jr    0  25.0      0
885               Rice, Mrs. William (Margaret Norton)    1  39.0      0
886                              Montvila, Rev. Juozas    0  27.0      0
887                       Graham, Miss. Margaret Edith    1  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    1   NaN      1
889                              Behr, Mr. Karl Howell    0  26.0      0
890                                Dooley, Mr. Patrick    0  32.0      0

     Parch            Ticket      Fare  Cabin Embarked
0        0         A/5 21171    7.2500      0        S
1        0          PC 17599   71.2833      1        C
2        0  STON/O2. 3101282    7.9250      0        S
3        0            113803   53.1000      1        S
4        0            373450    8.0500      0        S
5        0            330877    8.4583      0        Q
6        0             17463   51.8625      1        S
7        1            349909   21.0750      0        S
8        2            347742   11.1333      0        S
9        0            237736   30.0708      0        C
10       1           PP 9549   16.7000      1        S
11       0            113783   26.5500      1        S
12       0         A/5. 2151    8.0500      0        S
13       5            347082   31.2750      0        S
14       0            350406    7.8542      0        S
15       0            248706   16.0000      0        S
16       1            382652   29.1250      0        Q
17       0            244373   13.0000      0        S
18       0            345763   18.0000      0        S
19       0              2649    7.2250      0        C
20       0            239865   26.0000      0        S
21       0            248698   13.0000      1        S
22       0            330923    8.0292      0        Q
23       0            113788   35.5000      1        S
24       1            349909   21.0750      0        S
25       5            347077   31.3875      0        S
26       0              2631    7.2250      0        C
27       2             19950  263.0000      1        S
28       0            330959    7.8792      0        Q
29       0            349216    7.8958      0        S
..     ...               ...       ...    ...      ...
861      0             28134   11.5000      0        S
862      0             17466   25.9292      1        S
863      2          CA. 2343   69.5500      0        S
864      0            233866   13.0000      0        S
865      0            236852   13.0000      0        S
866      0     SC/PARIS 2149   13.8583      0        C
867      0          PC 17590   50.4958      1        S
868      0            345777    9.5000      0        S
869      1            347742   11.1333      0        S
870      0            349248    7.8958      0        S
871      1             11751   52.5542      1        S
872      0               695    5.0000      1        S
873      0            345765    9.0000      0        S
874      0         P/PP 3381   24.0000      0        C
875      0              2667    7.2250      0        C
876      0              7534    9.8458      0        S
877      0            349212    7.8958      0        S
878      0            349217    7.8958      0        S
879      1             11767   83.1583      1        C
880      1            230433   26.0000      0        S
881      0            349257    7.8958      0        S
882      0              7552   10.5167      0        S
883      0  C.A./SOTON 34068   10.5000      0        S
884      0   SOTON/OQ 392076    7.0500      0        S
885      5            382652   29.1250      0        Q
886      0            211536   13.0000      0        S
887      0            112053   30.0000      1        S
888      2        W./C. 6607   23.4500      0        S
889      0            111369   30.0000      1        C
890      0            370376    7.7500      0        Q

[891 rows x 12 columns]

In [12]:
nosur=df[ (pd.isna(df.Age)) ]
len(nosur)

177

In [13]:
noag =   df[ ( df.Survived==0) & (pd.isna(df.Age)) ] 
len(noag)

125

In [14]:
print(len(df[df.Pclass==1]),len(df[df.Pclass==2]),len(df[df.Pclass==3]) )
print(len (  df[       (df.Pclass==3) &  ( pd.isna(df.Age) )    ]    ))

216 184 491
136

In [15]:
gh=df[   (df.Survived==0) & ( ~ (pd.isna(df.Age))  )         ]
print(gh.mean(axis=0)['Age'])

30.62617924528302

In [16]:
df['Age']=df['Age'].fillna(30)#age

In [17]:
print(len(  df[ (df.Pclass==1)]))
print(len(  df[ (df.Pclass==1) & (df.Survived==0)       ]       )        )

216
80

In [18]:
print(df.mean(axis=0)['Fare']      )
print( len(df[ (df.Fare > 32.2)  ]  )) 
print( len(df[ (df.Fare> 32.2)    &  (df.Survived==0)  ])  )

32.204207968574636
211
85

In [19]:
df.drop(['PassengerId'],axis=1,inplace=True)
df.drop(['Ticket'],axis=1,inplace=True)
df.drop(['Name'],axis=1,inplace=True)
df.drop(['Embarked'],axis=1,inplace=True)
print(df)

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Cabin
0           0       3    0  22.0      1      0    7.2500      0
1           1       1    1  38.0      1      0   71.2833      1
2           1       3    1  26.0      0      0    7.9250      0
3           1       1    1  35.0      1      0   53.1000      1
4           0       3    0  35.0      0      0    8.0500      0
5           0       3    0  30.0      0      0    8.4583      0
6           0       1    0  54.0      0      0   51.8625      1
7           0       3    0   2.0      3      1   21.0750      0
8           1       3    1  27.0      0      2   11.1333      0
9           1       2    1  14.0      1      0   30.0708      0
10          1       3    1   4.0      1      1   16.7000      1
11          1       1    1  58.0      0      0   26.5500      1
12          0       3    0  20.0      0      0    8.0500      0
13          0       3    0  39.0      1      5   31.2750      0
14          0       3    1  14.0      0      0    7.8542      0
15          1       2    1  55.0      0      0   16.0000      0
16          0       3    0   2.0      4      1   29.1250      0
17          1       2    0  30.0      0      0   13.0000      0
18          0       3    1  31.0      1      0   18.0000      0
19          1       3    1  30.0      0      0    7.2250      0
20          0       2    0  35.0      0      0   26.0000      0
21          1       2    0  34.0      0      0   13.0000      1
22          1       3    1  15.0      0      0    8.0292      0
23          1       1    0  28.0      0      0   35.5000      1
24          0       3    1   8.0      3      1   21.0750      0
25          1       3    1  38.0      1      5   31.3875      0
26          0       3    0  30.0      0      0    7.2250      0
27          0       1    0  19.0      3      2  263.0000      1
28          1       3    1  30.0      0      0    7.8792      0
29          0       3    0  30.0      0      0    7.8958      0
..        ...     ...  ...   ...    ...    ...       ...    ...
861         0       2    0  21.0      1      0   11.5000      0
862         1       1    1  48.0      0      0   25.9292      1
863         0       3    1  30.0      8      2   69.5500      0
864         0       2    0  24.0      0      0   13.0000      0
865         1       2    1  42.0      0      0   13.0000      0
866         1       2    1  27.0      1      0   13.8583      0
867         0       1    0  31.0      0      0   50.4958      1
868         0       3    0  30.0      0      0    9.5000      0
869         1       3    0   4.0      1      1   11.1333      0
870         0       3    0  26.0      0      0    7.8958      0
871         1       1    1  47.0      1      1   52.5542      1
872         0       1    0  33.0      0      0    5.0000      1
873         0       3    0  47.0      0      0    9.0000      0
874         1       2    1  28.0      1      0   24.0000      0
875         1       3    1  15.0      0      0    7.2250      0
876         0       3    0  20.0      0      0    9.8458      0
877         0       3    0  19.0      0      0    7.8958      0
878         0       3    0  30.0      0      0    7.8958      0
879         1       1    1  56.0      0      1   83.1583      1
880         1       2    1  25.0      0      1   26.0000      0
881         0       3    0  33.0      0      0    7.8958      0
882         0       3    1  22.0      0      0   10.5167      0
883         0       2    0  28.0      0      0   10.5000      0
884         0       3    0  25.0      0      0    7.0500      0
885         0       3    1  39.0      0      5   29.1250      0
886         0       2    0  27.0      0      0   13.0000      0
887         1       1    1  19.0      0      0   30.0000      1
888         0       3    1  30.0      1      2   23.4500      0
889         1       1    0  26.0      0      0   30.0000      1
890         0       3    0  32.0      0      0    7.7500      0

[891 rows x 8 columns]

In [20]:
y=df['Survived'].values
df.drop(['Survived'],axis=1,inplace=True)

In [21]:
x=df.values

In [22]:
x=x.T
y=y.T

In [23]:
def initpara(o,i):                      #i-previous layer size,o-next layer size
    w=np.random.randn(o,i) * np.sqrt(2/i)     #He initialization
    b=np.zeros([o,1])
    return w,b

In [24]:
def act(z,activ):
    if(activ=='sigmoid'):
        return 1/(1+np.exp(-z))
    if(activ=='relu'):
        z[z<0]=0
        return z

In [25]:
def forward_prop(allpara,x,lay,y,lambd):
    #allpara=dict containing all the parameters
    #x=first input
    #lay=list of no of nodes present in subsequent layers
    m=x.shape[1]
    n=len(lay)#no of layers
    cac={'a0':x}
    for  i in range(n):
        
        w=allpara["w"+str(i+1)]
        b=allpara['b'+str(i+1)]
        #print("w   " ,w.shape,"     b ",b.shape,b,"       x " ,x.shape)
        z=np.dot(w,x)+b
        cac['z'+str(i+1)]=z
        if i<n-1:
            a=act(z,'relu')
        else:
            a=act(z,'sigmoid')
        cac['a'+str(i+1)]=a
        x=a
    x=x.reshape(m)
    #print("x",x,"   y",y)
    logp= -1/m * ( y * np.log(x) + (1-y)*np.log(1-x) ) 
    l2_reg=0
    for i in range(n):
        l2_reg= l2_reg + lambd/(2 * m) * np.sum(np.square(allpara['w'+str(i+1)]))     #l2 regularization
    logp = logp + l2_reg
    
    cost=np.sum(logp)
    #print("cost ",cost)
    
    return x,cost,cac

In [26]:
def der(z):
    z[z>0]=1
    z[z<0]=0
    return z

In [27]:
def backward_prop(cac,learnrate,allpara,y,lenlay,lambd):
    m=len(y)
    n=lenlay
    grad={}
    grad['dz'+str(n)]=cac['a'+str(n)]-y
    grad['dw'+str(n)]= 1/m *np.dot(grad['dz'+str(n)],cac['a'+str(n-1)].T) + lambd/ m * allpara['w'+str(n)]
    grad['db'+str(n)]= 1/m * np.sum( grad['dz'+str(n)],axis=1 ,keepdims=True)
    for i in range(1,n):
        j=n-i
        grad['da'+str(j)]=  np.dot(allpara['w'+str(j+1)].T,grad['dz'+str(j+1)])
        grad['dz'+str(j)]=   grad['da'+str(j)]  *  der(cac['z'+str(j)])
        grad['dw'+str(j)]=  1/m * np.dot( grad['dz'+str(j)] , cac['a'+str(j-1)].T ) + (lambd/ m )* allpara['w'+str(j)]
        grad['db'+str(j)]=  1/m * np.sum( grad['dz'+str(j)],axis=1,keepdims=True )
    return grad

In [28]:
def updatepara(grad,allpara,learnrate,lenlay):
    for i in range(lenlay):
        j=lenlay-i
        allpara['w'+str(j)]=allpara['w'+str(j)] - learnrate*grad['dw'+str(j)]
        allpara['b'+str(j)]=allpara['b'+str(j)] - learnrate*grad['db'+str(j)]
        
    return allpara

In [29]:
def train(x,y,lay,learnrate,it,lambd):
    ipl=x.shape[0]
    lenlay=len(lay)
    allpara={}
    for g in range(lenlay):
        if g==0 :
            allpara['w'+str(g+1)] , allpara['b'+str(g+1)] = initpara(lay[0],ipl)
        else:
            allpara['w'+str(g+1)] , allpara['b'+str(g+1)]= initpara(lay[g],lay[g-1]) 
    for i in range(it):
        predicted,cost,cac=forward_prop(allpara,x,lay,y,lambd)
        grad=backward_prop(cac,learnrate,allpara,y,lenlay,lambd)
        allpara=updatepara(grad,allpara,learnrate,lenlay)
        if(i%100==0):
            print(cost)
        
    return predicted

In [30]:
lay=[1,]
pred=train(x,y,lay,0.005,100,1)

9.396804997262132

/home/aditya/.local/lib/python3.5/site-packages/ipykernel_launcher.py:23: RuntimeWarning: divide by zero encountered in log
/home/aditya/.local/lib/python3.5/site-packages/ipykernel_launcher.py:23: RuntimeWarning: invalid value encountered in multiply

In [31]:
for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    else:
        pred[i]=0
right=0
for i in range(len(pred)):
    if pred[i]==y[i]:
        right=right+1
accuracy=right/len(pred) * 100
print(accuracy)

65.65656565656566

In [32]:
from sklearn.linear_model import LogisticRegression
lm=LogisticRegression()

In [33]:
lm.fit(x.T,y)

/home/aditya/.local/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [34]:
pred=lm.predict(x.T)
for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    else:
        pred[i]=0
right=0
for i in range(len(pred)):
    if pred[i]==y[i]:
        right=right+1
accuracy=right/len(pred) * 100
print(accuracy)
print(lm.coef_,lm.intercept_)

80.24691358024691
[[-0.74409176  2.65481885 -0.03663125 -0.33192739 -0.11235073  0.00267212
   0.76035925]] [1.19141644]

In [35]:
from sklearn.preprocessing import PolynomialFeatures
pr=PolynomialFeatures(degree=2)
pr

PolynomialFeatures(degree=2, include_bias=True, interaction_only=False)

In [36]:
print(x.shape)
z=pr.fit_transform(x.T)
z.shape

(7, 891)

(891, 36)

In [37]:
lm.fit(z,y)

/home/aditya/.local/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [38]:
pred=lm.predict(z)
for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    else:
        pred[i]=0
right=0
for i in range(len(pred)):
    if pred[i]==y[i]:
        right=right+1
accuracy=right/len(pred) * 100
print(accuracy)

83.16498316498317

In [39]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()

In [40]:
from sklearn.metrics import mean_squared_error as mse

mse(x,y)

In [41]:
lm.score(z,y)#r squared -coefficient of determination

0.8316498316498316

In [42]:
#splitting dataset into train and test
from sklearn.model_selection import train_test_split
xtr,ytr,xts,yts=train_test_split(z,y,test_size=0.35,random_state=0)
print(xtr.shape,xts.shape)

(579, 36) (579,)

In [43]:
lm.fit(xtr,xts)

/home/aditya/.local/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [44]:
pred=lm.predict(ytr)

In [45]:
lm.score(ytr,yts)

0.8076923076923077

NameError: name 'p' is not defined

In [48]:
print(x.shape,y.shape)

(7, 891) (891,)

In [50]:
from sklearn import tree
cl=tree.DecisionTreeClassifier()
cl=cl.fit(x.T,y)

In [51]:
pred=cl.predict(x.T)

In [66]:
for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    else:
        pred[i]=0
right=0
for i in range(len(pred)):
    if pred[i]==y[i]:
        right=right+1
accuracy=right/len(pred) * 100
print(' accuracy on the test set itself',accuracy)

 accuracy on the test set itself 57.692307692307686

In [59]:
cl2=tree.DecisionTreeClassifier()
cl2=cl2.fit(xtr,xts)

In [60]:
pred=cl2.predict(ytr)

In [65]:
for i in range(len(pred)):
    if pred[i]>0.5:
        pred[i]=1
    else:
        pred[i]=0
right=0
for i in range(len(pred)):
    if pred[i]==yts[i]:
        right=right+1
accuracy=right/len(pred) * 100
print("accuracyof decision tree is:", accuracy)

accuracyof decision tree is: 77.88461538461539

In [70]:
from sklearn.ensemble import RandomForestClassifier

In [71]:
clf=RandomForestClassifier()

In [72]:
clf.fit(xtr,xts)

/home/aditya/.local/lib/python3.5/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [74]:
pred=clf.predict(ytr)
pred.shape

(312,)

In [75]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(yts,pred)
print(acc)

0.8365384615384616

In [77]:
from sklearn.ensemble import AdaBoostClassifier
clf=AdaBoostClassifier()

In [78]:
clf.fit(xtr,xts)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [79]:
pred=clf.predict(ytr)

In [80]:
acc=accuracy_score(yts,pred)

In [81]:
print(acc)

0.8205128205128205